.forget-password-title{
    padding-top: 156px;
    border-bottom:1px solid rgba(0, 0, 0, 0.25);
    padding-bottom:20px ;
    @media #{$lg-bp}{
       padding-top: 24px;
        }
}
.forget-password-subtitle{
    padding-top: 181px;
    @media #{$lg-bp}{
        padding-top: 103px;
        }
}

#forget-password-Form{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 24px;
    @media #{$lg-bp}{
        padding:0px 16px;
        }
}

.forget-password-Form-wrap{
    margin-top: 40px;
}