.cart-info-box
    .cart-info-tit 結帳須知
    .cart-info-txt 
        p.cart-info-txt-content 每日早上 12:00 前完成訂單及付款，則於隔日配送，週六訂貨的則周一配送。週日公休，如遇到特殊節日則視公告告知。 
        p.cart-info-txt-content 若您的會員帳戶中有可使用的購物金，選購產品金額每滿1000元（不含運費），可使用購物金折抵50元。查詢我的購物金。
        p.cart-info-txt-content 產品送達後請您儘速檢視，若產品有損毀或瑕疵，請於上班時間週一至週六 8:00~12:00&13:00~17:00 來電04-7766188告知，我們將儘快為您處理。逾期或因保存不當造成的損毀，恕不補償，請您見諒。
        p.cart-info-txt-content 本站所有生鮮食品，因具有易於腐敗、保存期限較短或解約時即將逾期等特性，依法不適用7天鑑賞期。農產品易受天候、蟲害...等影響產量，接單後仍保有出貨與否的權利。