.cart-info-box
    .cart-info-tit 訂購須知
    .cart-item
        .cart-order-item
            //- .cart-order-move-prd-name
            //-     p 紅心芭樂
            //- .cart-order-pic 
            //-     img(src="../../assets/product/product2.jpeg", alt="") 
            //- .cart-order-prd-name
            //-     p.cart-order-title 品項
            //-     p.cart-order-txt 紅心芭樂 
            //- .cart-order-note 
            //-     p.cart-order-title 備註
            //-     p.cart-order-txt 備註備註備註備註備註備註備註備註備註備註備註備註備註備註備註
            //- .cart-order-num
            //-     p.cart-order-title 數量
            //-     select.prd_add_num.form-select(aria-label="product-number")
            //-         option(value="1",selected) 1
            //-         option(value="2") 2
            //-         option(value="3") 3
            //- .cart-order-price 
            //-     p.cart-order-title 價格  
            //-     p.cart-order-price-txt $25    
            //- .cart-order-del
            //-     p.cart-order-title.cart-order-opacity-tit 刪除
            //-     img(src="../../assets/garbage.svg", alt="")
    .cart-order-total 
        span.cart-order-total-txt 小計
        span.cart-order-total-price#cart-item-tot ＄25 