.cart-info-box
    .cart-info-tit 付款方式
        #cart-tab    
            p.btn.dark-btn.btn-active.mr-20 貨到付款
            p.btn.dark-btn 信用卡/金融卡
    #cart-tab-content
        .cart-tab-txt-wrap
            p.cart-tab-txt 「貨到付款」付款方式：包裹送達時，宅配司機會同時向您(收件人)收取代收金額。
            p.cart-tab-txt 請務必確認送貨時段有人可以收件及備妥購買金額(訂單總金額)，再使用此付款方式。
            p.cart-tab-txt 收件當日請收件人保持手機暢通，以利宅配司機送貨前與您聯繫。
            p.cart-tab-txt 請詳細確認寄件方資訊及包裹是否正確，再進行簽收及付款。 
        .cart-tab-txt-wrap
            p 123