.cart-info-total 訂單總計
.cart-info-total-box 
    ul.total-warp 
        li.total-item 
            div.total-title 訂單總計
            div.total-txt#cart-subtotal NTD.$125
        li.total-item  
            div.total-title 折扣
            div.total-txt#cart-tax NTD.-$0
        li.total-item.total-item-move-hide  
            div.total-title 備註
            textarea.form-control
        li.total-item 
            div.total-title 物流費
            div.total-txt NTD.$100
    .total-footer
        span.total-footer-txt 
            span.total-footer-txt-title 小計
            span.total-footer-txt-price#cart-total ＄50
        span.total-footer-btn
            a.btn.light-btn.goshopping(href="./index.html") 繼續購物
            a.btn.dark-btn(href="./cart_finish.html")  訂單送出 