.latestnews-wrap{
    width: 100%;
    max-width: 1440px;
    height: 100vh;
}
.latestnews-detail{
    width: 100%;
    padding-top: 136px;
    display: flex;
    @media #{$lg-bp}{
        padding-top: 50px;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
            }
}

.latestnews-title{
    display: flex;
    width: 60%;
    max-width:594px;
    @media #{$lg-bp}{
    width: 70%;
        }
}

.latestnews-title-type {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media #{$lg-bp}{
       width: 40%;
       img{
           width: 20px;
           height: 20px;
       }
        }
}

.latestnews-title-type-txt{
@include fontStyle_zh_200;
font-size: 20px;
line-height: 34px;
color: #00683A;
@media #{$lg-bp}{
    font-size: 18px;
     }
}

.latestnews-txt{
    width: 80%;
}
.latestnews-like{
    width: 40%;
    max-width: 404px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    @media #{$lg-bp}{
    width:30%;
        }
}

.like-btn{
    display: flex;
    padding: 4px 16px;
    border: 1.5px solid #000000;
    border-radius: 5px;
    cursor:pointer;
    &:hover{
        opacity: 0.5;
    }
    @media #{$lg-bp}{
        padding: 4px 8px;
            }
}

.like-btn-txt{
    padding-left:8px;
}

.latestnews-txt-date{
    @include fontStyle_ro_700;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 4px;
    padding-left: 3px;
    @media #{$lg-bp}{
        font-size: 13px;
        padding-left: 19px;
            }
}

.latestnews-txt-title{
    @include fontStyle_zh_200;
    font-size: 28px;
    line-height: 48px;
    @media #{$lg-bp}{
        font-weight: 500;
        font-size: 23px;
        line-height: 33px;
        padding-left: 16px;
            }
}


.latestnews-content{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

.latestnews-pic{
    padding-right: 14px;
    @media #{$lg-bp}{
        padding-right: 0px;
    }
    img{
        width: 100%;
        max-width:594px;
        height: 333px;
        object-fit:cover;
        object-position: left;
    }
}

.latestnews-content-txt{
    width: 100%;
    max-width: 390px;
    font-size: 14px;
    line-height: 24px;
    @include fontStyle_zh_500;
    @media #{$lg-bp}{
        font-size: 12px;
        line-height: 22px;
        font-weight: 400;
    }
}

.latestnews-content-btn{
    text-align: right;
    padding-top: 40px;
    @media #{$lg-bp}{
        text-align: center;
    }
}