extends ../layout/layout.pug

block view
    .breadcrumb-nav
        ol.breadcrumb
            li.breadcrumb-li 
                a(href="./index.html") 首頁
            li.breadcrumb-li.breadcrumb-li-active 關於我們
    .wrap
        .pl-wrap
            .about-title 
                p.big-title ABOUT US
                p.subtitle-title.about-subtitle-title  關於我們
            .col-lg-12
                .about-btn
                    a.btn.dark-btn.mr-20(href="./idea.html") 品牌經營理念
                    a.green-btn-active(href="./about.html")  關於芭樂家族
                .col-lg-12.about-detail-squarebrackets
                    .about-pc-title 
                        p.big-title ABOUT US
                        p.subtitle-title.about-subtitle-title  關於我們
                    .squarebrackets.about-move-squarebrackets
                        p.squarebrackets-txt 天然好吃芭樂</br>新鮮脆甜有保證
                .col-lg-8.about-detail-txt-wrap
                    p.about-detail-txt-zh 選用頂級芭樂 均使用純天然的原料去製作 絕對是最健康最天然的美味 久沒吃必懷念的好滋味~! 健胃整腸 減肥瘦身 牙齦保護 增強抵抗力 保持身 心愉悅 芭樂絕對是您的首選 選用頂級芭樂 均使用純天然的原料去製作 絕對是最健康最天然的美味 久沒吃必懷念的好滋味~! 健胃整腸 減肥瘦身 牙齦保護 增強抵抗力 保持身 心愉悅 芭樂絕對是您的首選
                    p.about-detail-txt-en Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iure sapiente expedita at consequatur sit temporibus mollitia unde explicabo doloribus, perspiciatis aut assumenda laudantium ullam. Dolores aliquam repellat quis odit.
        .col-lg-12.read-more-wrap 
            a.read-more(href="#technique-title") 繼續閱讀</br>
                img(src="../../assets/readmorearrow.svg", alt="")
        .col-lg-12.technique
            .technique-title#technique-title 
                p.big-title HOW WE DO IT
                p.subtitle-title.about-subtitle-title  專業技術
            .col-lg-12.technique-warp
                .col-lg-6.technique-item.technique-item-pr 
                    .technique-pic 
                        img(src="../../assets/about/technique1.jpeg", alt="")
                    .technique-txt-wrap 
                        p.technique-tit-zh 施肥
                        p.technique-txt-zh 施肥應採取「有機肥為主，化肥為輔」的原則。第一年堅持每月施水肥兩次，漚制水肥的材料為菜子餅、雞糞、豬糞等，淋施時加入種植寶成1000倍液(10公斤水加產品1瓶蓋)
                        p.technique-tit-en FERTILIZE
                        p.technique-txt-en Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel pariatur aliquam, possimus perspiciatis, libero dolore aspernatur repellendus quia deserunt suscipit hic tenetur, nisi natus tempora nam ratione sapiente aut neque
                .col-lg-6.technique-item.technique-item-pl 
                    .technique-pic 
                        img(src="../../assets/about/technique2.png", alt="")
                    .technique-txt-wrap.technique-txt-wrap-right 
                        p.technique-tit-zh 整形
                        p.technique-txt-zh 捆綁將主枝引向四面斜伸45°左右，促使下部萌發新梢，在新梢到30厘米左右摘心，以後再依需要摘心，養成樹冠，可有效矮化樹形。開花結果期要放好梢，在果實膨大期要適當摘除新梢，以利保果。
                        p.technique-tit-en TRIMMING
                        p.technique-txt-en Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel pariatur aliquam, possimus perspiciatis, libero dolore aspernatur repellendus quia deserunt suscipit hic tenetur, nisi natus tempora nam ratione sapiente aut neque
        .col-lg-12.brand   
            .technique-title#technique-title 
                p.big-title WE BELIEVE
                p.subtitle-title.about-subtitle-title  品牌價值
            .col-lg-12.brand-wrap
                .brand-pic
                    img(src="../../assets/about/about_bottom.jpeg", alt="")
                .brand-txt-wrap 
                    p.brand-txt-zh 可以利用最近政府成立的台農發機構，協助台灣燕巢芭樂的外銷市場，透過嚴格的 品質把關，讓外國的消費者可以看出台灣與外國水果的差別及特色，燕巢芭樂不只口感 清脆，連外觀也十分圓潤碩大，利用這些優點來增加外銷產量，贏得外國消費者的喜愛。
                    p.brand-txt-en Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quos sunt perferendis modi quia consequuntur dolor cupiditate non rerum libero delectus tempore, omnis facilis magnam pariatur dolores voluptatum deserunt impedit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde odio, similique tempora aut aliquam odit rerum in itaque quibusdam vitae totam dolores dolorem magnam pariatur quo perspiciatis iste veniam minima.
        .col-lg-12.about-pc-squarebrackets
            .squarebrackets
                p.squarebrackets-txt 天然好吃芭樂</br>新鮮脆甜有保證
              



