extends ../layout/layout.pug

block view
    .breadcrumb-nav
        ol.breadcrumb
            li.breadcrumb-li 
                a(href="./index.html") 首頁
            li.breadcrumb-li.breadcrumb-li-active 常見問題
    .wrap
        .pl-wrap.faq-wrap
            .faq-title
                p.big-title Q&A
                p.subtitle-title.faq-subtitle  常見問題
            ul.faq-filter
                li.btn.dark-btn.mr-20.faq-filter-btn.btn-active 所有問題
                li.btn.dark-btn.mr-20.faq-filter-btn 付款及運費資訊
                li.btn.dark-btn.mr-20.faq-filter-btn 商品與配送   
                li.btn.dark-btn.mr-20.faq-filter-btn 訂單相關
            .accordion
                .accordion-item
                    .accordion-title
                      span.faq-num 1  
                      apsn.faq-txt 芭樂真的是有機嗎？
                    .accordion-content
                        .accordion-content-txt        
                            img(src="../../assets/index/advantage7.jpg", alt="")
                            p 驗證單位每年都會來我們的農場稽核，栽種過程嚴格把關，您可以放心選購。驗證單位每年都會來我們的農場稽核，栽種過程嚴格把關，您可以放心選購。驗證單位每年都會來我們的農場稽核，栽種過程嚴格把關，您可以放心選購。驗證單位每年都會來我們的農場稽核，栽種過程嚴格把關，您可以放心選購。驗證單位每年都會來我們的農場稽核，栽種過程嚴格把關，您可以放心選購。驗證單位每年都會來我們的農場稽核，栽種過程嚴格把關，您可以放心選購。
                .accordion-item
                    .accordion-title
                      span.faq-num 2  
                      apsn.faq-txt 芭樂有什麼品種？
                    .accordion-content
                        .accordion-content-txt        
                            img(src="../../assets/index/advantage7.jpg", alt="")
                            p 驗證單位每年都會來我們的農場稽核，栽種過程嚴格把關，您可以放心選購。驗證單位每年都會來我們的農場稽核，栽種過程嚴格把關，您可以放心選購。驗證單位每年都會來我們的農場稽核，栽種過程嚴格把關，您可以放心選購。驗證單位每年都會來我們的農場稽核，栽種過程嚴格把關，您可以放心選購。驗證單位每年都會來我們的農場稽核，栽種過程嚴格把關，您可以放心選購。驗證單位每年都會來我們的農場稽核，栽種過程嚴格把關，您可以放心選購。
                .accordion-item
                    .accordion-title
                      span.faq-num 3 
                      apsn.faq-txt 芭樂有分產季嗎？
                    .accordion-content
                        .accordion-content-txt        
                            img(src="../../assets/index/advantage7.jpg", alt="")
                            p 驗證單位每年都會來我們的農場稽核，栽種過程嚴格把關，您可以放心選購。驗證單位每年都會來我們的農場稽核，栽種過程嚴格把關，您可以放心選購。驗證單位每年都會來我們的農場稽核，栽種過程嚴格把關，您可以放心選購。驗證單位每年都會來我們的農場稽核，栽種過程嚴格把關，您可以放心選購。驗證單位每年都會來我們的農場稽核，栽種過程嚴格把關，您可以放心選購。驗證單位每年都會來我們的農場稽核，栽種過程嚴格把關，您可以放心選購。
                