extends ../layout/layout.pug

block view
    .breadcrumb-nav
        ol.breadcrumb
            li.breadcrumb-li 
                a(href="./index.html") 首頁
            li.breadcrumb-li.breadcrumb-li-active 忘記密碼
    .wrap
        .pl-wrap.col-lg-10
            .forget-password-title
                p.big-title forget</br>password
                p.subtitle-title.forget-password-subtitle  忘記密碼
                p.min-title.join-rule 忘記密碼須知
                p.explanation-txt.join-rule-txt 請輸入註冊會員帳號，系統稍後將以Email發送您的會員密碼。若尚未收到系統信件，建議您可至垃圾信件夾確認或是來信與我們聯繫，謝謝。
        .pl-wrap.forget-password-Form-wrap.col-lg-10
            p.min-title 會員資料
            form#forget-password-Form(action="") 
                .col-lg-10.content
                        .form-item
                            p.form-title 電子郵件
                            input.form-control(type="text" name="email" aria-label="email",required)
                        .form-item.el-wrap
                            button.btn.dark-btn(data-bs-toggle="modal" data-bs-target="#alerts") 確認送出