extends ../layout/layout.pug

block view
    include ../layout/index/banner.pug
    .wrap
        include ../layout/index/advantage.pug
        include ../layout/index/prd.pug
        include ../layout/index/news.pug