extends ../layout/layout.pug

block view
    .breadcrumb-nav
        ol.breadcrumb
            li.breadcrumb-li 
                a(href="./index.html") 首頁
            li.breadcrumb-li.breadcrumb-li-active 會員中心
    .wrap
        .pl-wrap
            p.big-title.big-title-pt MEMBER
            p.subtitle-title.subtitle-title-pt 會員中心
        .pl-wrap.member-info-btn-box
            a.btn.dark-btn.mr-20(href="./member_info.html") 會員資料修改
            a.btn.green-btn-active(href="./shopping_history.html")  購物紀錄
        .pl-wrap.shopping-history-list
            .shopping-history-card
                .shopping-history-item-left
                    span.shopping-history-title 購買日期
                    p.shopping-history-data 2021-09-09
                .shopping-history-item-right
                    span.shopping-history-title 狀態
                    p.shopping-history-state 新單
                .shopping-history-item-left
                    span.shopping-history-title 訂單編號
                    a.shopping-history-code(href="") W2020109270001
                .shopping-history-item-right
                    span.shopping-history-title 總價
                    p.shopping-history-price $222
            .shopping-history-card
                .shopping-history-item-left
                    span.shopping-history-title 購買日期
                    p.shopping-history-data 2021-09-09
                .shopping-history-item-right
                    span.shopping-history-title 狀態
                    p.shopping-history-state 新單
                .shopping-history-item-left
                    span.shopping-history-title 訂單編號
                    a.shopping-history-code(href="") W2020109270001
                .shopping-history-item-right
                    span.shopping-history-title 總價
                    p.shopping-history-price $222
            .shopping-history-card
                .shopping-history-item-left
                    span.shopping-history-title 購買日期
                    p.shopping-history-data 2021-09-09
                .shopping-history-item-right
                    span.shopping-history-title 狀態
                    p.shopping-history-state 新單
                .shopping-history-item-left
                    span.shopping-history-title 訂單編號
                    a.shopping-history-code(href="") W2020109270001
                .shopping-history-item-right
                    span.shopping-history-title 總價
                    p.shopping-history-price $222
            .shopping-history-card
                .shopping-history-item-left
                    span.shopping-history-title 購買日期
                    p.shopping-history-data 2021-09-09
                .shopping-history-item-right
                    span.shopping-history-title 狀態
                    p.shopping-history-state 新單
                .shopping-history-item-left
                    span.shopping-history-title 訂單編號
                    a.shopping-history-code(href="") W2020109270001
                .shopping-history-item-right
                    span.shopping-history-title 總價
                    p.shopping-history-price $222
            