.col-lg-11.content.advantage
    p.big-title THE GUAVA<br>ADVANTAGE
    p.subtitle-title.advantage-pt 芭樂優勢
    p.advantage-left-txt 芭樂家族使用高規格的專業溫室栽培工業技術，在溫室建材方面也採用不破壞環境的原料。並使用多項自動系統來達到定時、定量、定點澆水施肥。更使用綠色能源的有機肥料搭配「間做」和「綠籬」來建立蟲害防治。
    .advantage-move-order
        .squarebrackets
            p.squarebrackets-txt 堅持品質</br>用行動支持有機
        .advantage-move
            a.index-move-link(href="./about.html") 詳細內容
                img.arrow(src="../../assets/coolicon.png", alt="")               
    ul.advantage-right-wrap
        li.advantage-right-item-hide
        li.advantage-right-item(style="background-image:url('../assets/index/advantage1.png')")
            p.advantage-right-num 01
            p.advantage-right-txt 育苗
        li.advantage-right-item(style="background-image:url('../assets/index/advantage2.jpg')")
            p.advantage-right-num 02
            p.advantage-right-txt 栽種
        li.advantage-right-item(style="background-image:url('../assets/index/advantage3.png')")
            p.advantage-right-num 03
            p.advantage-right-txt 灌溉
        li.advantage-right-item(style="background-image:url('../assets/index/advantage4.png')")
            p.advantage-right-num 04
            p.advantage-right-txt 施肥
        li.advantage-right-item(style="background-image:url('../assets/index/advantage5.png')")
            p.advantage-right-num 05
            p.advantage-right-txt 收割
        li.advantage-right-item(style="background-image:url('../assets/index/advantage6.png')")
            p.advantage-right-num 06
            p.advantage-right-txt 差壓預冷保鮮
        li.advantage-right-item(style="background-image:url('../assets/index/advantage7.jpg')")
            p.advantage-right-num 07
            p.advantage-right-txt 篩選品質
        li.advantage-right-item-last.advantage-right-item-after(style="background-image:url('../assets/index/advantage8.png')")
            p.advantage-right-txt.advantage-right-txt-last 包裝出貨
            p.advantage-right-num.advantage-right-num-last 08 