div.banner
    img.banner-hero(src="../../assets/hero.jpg", alt="")
.banner-content
    .banner-subtitle-inner.banner-subtitle-top 
        .banner-subtitle
            p.banner-squarebrackets-txt 層層防護</br>堅持有機
    .banner-subtitle-inner.banner-subtitle-move
        .banner-subtitle-move-hide
            p 與天地共生、自然共存的經營方針
            p 不灑農藥、不施化肥
            p 堅持讓您享用健康優質的機農產品
    .banner-subtitle-inner.banner-subtitle-bottom-wrap
        .banner-subtitle-bottom
            .banner-subtitle-big-txt
                p THE 
                p ORGANIC
                p GUAVA
            .banner-subtitle-view-prd
                a(href="./product.html").banner-subtitle-view-txt 查看商品 
                    img.arrow(src="../../assets/coolicon.png", alt="")