.index-bottom
    .col-lg-11.content.index-news
        .col-lg-9
            p.big-title LATEST</br>NEWS
            p.subtitle-title.advantage-pt 專欄推播  
    .col-lg-12.index-news-squarebrackets    
        .squarebrackets
            p.squarebrackets-txt 掌握第一手</br>芭樂公告與優惠
    .col-lg-11.index-news-bottom 
        .index-news-wrap.col-lg-10 
            include ../newsitem.pug
    .col-lg-12.index-news-move
        a.index-move-link(href="./latestnews.html") 更多消息 
            img.arrow(src="../../assets/coolicon.png", alt="")   

