.col-lg-11.content
    p.big-title FRESH</br>PRODUCTS
    p.subtitle-title.advantage-pt 嚴選產品
.col-lg-12.index-product
    .col-lg-8.index-product-left
        .index-product-item
            .index-product-item-pic
                a(href="./prd_detail.html") 
                    img(src="../../assets/product/product1.jpeg", alt="")
            .index-product-item-txt 
                a.product-tit(href="./prd_detail.html") 珍珠芭樂
                p.product-price [  25 NTD  ]
                p.product-origin 原產地：台灣 
        .index-product-item
            .index-product-item-pic
                a(href="./prd_detail.html") 
                    img(src="../../assets/product/product2.jpeg", alt="")
            .index-product-item-txt 
                a.product-tit(href="./prd_detail.html")  紅心芭樂
                p.product-price [  25 NTD  ]
                p.product-origin 原產地：台灣 
        .index-product-item
            .index-product-item-pic
                a(href="./prd_detail.html") 
                    img(src="../../assets/product/product1.jpeg", alt="")
            .index-product-item-txt 
                a.product-tit(href="./prd_detail.html") 帝王芭樂
                p.product-price [  25 NTD  ]
                p.product-origin 原產地：台灣    
    .col-lg-3.col-12.index-product-right 
        .squarebrackets
            p.squarebrackets-txt 白霧脆甜</br>好吃的芭樂
        .index-move-link-wrap    
            a.index-move-link(href="./product.html") 更多商品  
                img.arrow(src="../../assets/coolicon.png", alt="")