meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
title  台中太平芭樂家族
link(rel="icon", href="../../assets/myicon.png", type="/img/y-jpg")

