doctype html
html(lang="en")
    head
        include ./head.pug
        block meta
    body
        main
            block header
                include ./header.pug
            block view
            include ./footer.pug
        block scripts 

