
a.index-news-item(href="./latestnews_detail.html") 
    .index-news-item-left 
        p.index-news-date 27.03.2020
        img.index-new-icon(src="../../assets/organic.svg", alt="")
        p.index-news-tit 芭樂文獻
    .index-news-item-right
        p.index-news-header 發佈日期
            span.index-news-min [2020.03.12]
        p.index-news-body 陽光下的綠鑽石
        p.index-news-footer 來源 芭樂日報
a.index-news-item(href="./latestnews_detail.html") 
    .index-news-item-left 
        p.index-news-date 27.03.2020
        img.index-new-icon(src="../../assets/farm.svg", alt="")
        p.index-news-tit 活動資訊
    .index-news-item-right
        p.index-news-header 發佈日期
            span.index-news-min [2021.01.01]
        p.index-news-body 彰化社頭織襪芭樂節
        p.index-news-footer 來源 芭樂日報
a.index-news-item(href="./latestnews_detail.html") 
    .index-news-item-left 
        p.index-news-date 27.03.2020
        img.index-new-icon(src="../../assets/food.svg", alt="")
        p.index-news-tit 食譜專欄
    .index-news-item-right
        p.index-news-header 發佈日期 
            span.index-news-min [2020.03.12]
        p.index-news-body 甘草芭樂三吃
        p.index-news-footer 來源 芭樂日報