.pullee-wrap
    input.pullee(type="range" value="0")
    .pullee_success
        img(src="../../assets/check-solid.svg" alt="")
    .pullee_error 
        img(src="../../assets/sync-solid.svg" alt="")
    .pullee-txt 向右滑動解鎖