//input
input[type="radio"]:checked {
    background-color: #fff;
}
.form-check-input {
    visibility: hidden;
}
.form-check-label {
    position: relative;
}
.radio-button {
    /* 自定義樣式的span */
    height: 16px;
    width: 16px;
    border: 2px solid #000;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: -22px;
    top: 4px;
}
.radio-button::after {
    /* 中間點點 */
    content: "";
    display: block;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    opacity: 0;
    transition: opacity 0.2s;
}
.form-check-input:checked ~ .form-check-label .radio-button::after {
    /* 選中radio時 才顯示中間點點 */
    opacity: 1;
}

// input[type="text"],
// input[type="password"],
// select.form-select {
//     height: 52px;
//     border-radius: 5px !important;
//     border: none !important;
//     background-color: #eeeeee !important;
//     @media #{$sm-bp} {
//         height: 42px;
//     }

//     &:hover,
//     &:focus {
//         background-color: #fff !important;
//         outline: 0 transparent !important;
//         box-shadow: none !important;
//         border: 1px solid #000 !important;
//     }
// }

// ::placeholder {
//     color: rgba(0, 0, 0, 0.25) !important;
// }
// ::-webkit-input-placeholder {
//     /* Chrome, Safari */
//     color: rgba(0, 0, 0, 0.25) !important;
// }
// :-ms-input-placeholder {
//     /* IE 10+ */
//     color: rgba(0, 0, 0, 0.25) !important;
// }

// select {
//     &:hover,
//     &:focus {
//         outline: 0 transparent !important;
//         box-shadow: none !important;
//         border: none !important;
//     }
// }
// .form-select {
//     border: none;
// }

// .btn-check:focus + .btn,
// .btn:focus {
//     &:focus {
//         outline: 0 !important;
//         box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
//     }
// }

// textarea {
//     height: 52px !important;
//     background-color: #eeeeee !important;
//     border-radius: 5px !important;
//     &:hover,
//     &:focus {
//         background-color: #fff !important;
//         outline: 0 transparent !important;
//         box-shadow: none !important;
//         border: 1px solid #000 !important;
//     }
// }